.create-container {
    width: 45%;
    background-color: #555555;
}

.form-container {
    background-color: #555555;
    display: flex;
    justify-content: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 90%;
}

.form-box .form-input {
    position: relative;
}

.form-box .form-input input {
    width: 60%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: white;
    padding-left: 45px;
    font-size: 15px;
    color: rgb(54, 54, 54);
    font-family: 'Segoe UI';
}

.form-box .form-input span {
    position: absolute;
    top: 8px;
    padding-left: 20px;
    color: #777;
}

.form-box .form-input input::placeholder {
    padding-left: 0px;
}

.form-box .form-input input:focus,
.form-box .form-input input:valid {
    border-bottom: 2px solid #dc3545;
}

.form-box button[type="submit"] {
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: darkorange;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.form-box button[type="submit"]:hover {
    -webkit-box-shadow: 0px 9px 10px -2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 9px 10px -2px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 9px 10px -2px rgba(0, 0, 0, 0.55);
}

.crud-icons {
    width: 80px;
}

.crud-heading {
    color: white;
    font-size: 23px;
}

.terms-condition {
    width: 50%;
    margin-left: 85px;
}

.text-white {
    color: white;
    font-family: system-ui;
}

.crud-button-position {
    width: 50%;
    margin-left: 85px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    /* Space between buttons */
}

.social-button {
    display: inline-block;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    /* Vertically centers text */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.2s;
    /* Smooth transition */
}

.google {
    background-color: #da3f34;
    /* Google Red */
}

.facebook {
    background-color: #4866a8;
    /* Facebook Blue */
}

.twitter {
    background-color: #33ccff;
    /* Twitter Blue */
}

.social-button:hover {
    transform: scale(1.1);
    /* Slightly enlarge button on hover */
}

.google:hover {
    background-color: #bf3b31;
    /* Darker red for Google */
    color: #fff;
}

.facebook:hover {
    background-color: #3d5785;
    /* Darker blue for Facebook */
    color: #fff;
}

.twitter:hover {
    background-color: #2eb7e5;
    /* Darker blue for Twitter */
    color: #fff;
}

@media (max-width: 950px) {
    .create-container {
        width: 100%;
    }

    .crud-button-position {
        text-align: center;
    }
}